def_local_env
prof_library
*_env
config/.env
config/config.pl
config/.netrc
zephir_full_daily_a*
*.gz
local
local*
*_stderr
*.debug
*rights_rpt.tsv
*.bad
*.change
*.rights
.bundle
*.tmp
*.tsv
compare_*
*.jsonl
t/fixtures/rights_dbm
cover_db
