def_local_env
prof_library
*_env
data/*/*
config/.env
config/config.pl
config/.netrc
*.txt
zephir_full_daily_a*
*.gz
local
*_stderr
*.debug
*rights_rpt.tsv
*.bad
*.change
*.rights
.bundle
*.tmp
*.tsv
test_*
compare_*
*.jsonl
